.form {
    width: 400px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(79, 41, 114);
    color: rgb(180, 179, 179);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    border-radius: 20px;
    border: 2px solid rgb(180, 179, 179);
    .input {
        background-color: rgb(180, 179, 179);
        color: rgb(79, 41, 114);
        border-radius: 15px;
        height: 30px;
        padding: 0px 10px;
        margin-bottom: 15px;
    }
    button {
        margin: 10px 0px;
        border-radius: 10px;
        height: 30px;
        display: inline-block;
        width: 90px;
        background-color: rgb(85, 197, 100);
        color: rgb(79, 41, 114);
    }
}