.header {
    background-color: rgb(79, 41, 114);
    height: 70px;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    width: 96vw;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.headerList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.content {
    display: flex;
    gap: 90px;
    align-items: center;
}

.logo {
    user-select: none;
    -webkit-user-drag: none;
    -moz-drag-over: none;
}

.catalog {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: rgb(180, 179, 179);
    color: rgb(79, 41, 114);
    border-radius: 10px;
    width: 135px;
    height: 40px;
}

.form {
    background-color: rgb(180, 179, 179);
    border-radius: 15px;
    padding-left: 8px;
    height: 45px;
    display: flex;
    align-items: center;
}

.search {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    padding-left: 7px;
    background-color: rgb(79, 41, 114);
}

.searchbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.authButton {
    padding: 0px 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 197, 100);
    color: rgb(79, 41, 114);
    border-radius: 10px;
    height: 40px;
}