.sliderHolder {
    position: relative;
    background-color: rgba(79, 41, 114, 0.616);
    height: 300px;
    border-radius: 40px;
    overflow: hidden;
    width: 100%;
    .slides {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200%;
        transition: transform 1s;
        .image {
            border-radius: 40px;
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
        }
    }
    .leftArrow {
        cursor: pointer;
        position: absolute;
        left: 2%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        opacity: 0.5;
    }
    .rightArrow {
        cursor: pointer;
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
    }
}