.sliderHolder {
    background-color: rgba(79, 41, 114, 0.616);
    height: 300px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Cardholder {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    width: 100%;
}